/**
* Base Settings
*/


$brandPrimary: #D95151;
$brandSecondary:#D2D98D;
$brandAlternate: #006A75;
$backgroundColor:#fff;

$sidebarWidthLarge: calc(30% - 1rem);
$sidebarWidthDesktop: calc(35% - 1rem);

// Navigation and Sidebar when in mobile state (left + right)
$MainNavigationWidth: 250px;
$MainSidebarWidth: 265px;
$MainNavigationBg: #4a4a4a;
$subnavColor: #616161;

// height of topbar
$topbarHeight: 50px;
$topbarHeightDesktop: 200px;
$tabHeight: 40px;
$topbarBg:linear-gradient(to bottom, rgba(#333,1) 0%,rgba(#444,1) 100%);

$topbarColor:#aaa;
$topBarFontSize:18px;
$topbarColorWide:#aaa;
// Minimal footer height:
$footerHeight:100px;

// maximum site width (before staying centered layout)
$overallMaxWidth:1150px;

// a base padding, used by various components
$overallPadding:10px;
$overallPaddingLarge: 0px;
// padding when in desktop state
$paddingRightLeftDesktop:20px;


// paragraphs:
$paragraphMargin: 0 0 1rem 0;
// some layout globals:
$baseFontFamily: "Roboto", Arial, sans-serif;
$baseFontSize: 18px;
$baseColor: #262626;
$baseLineHeight: 1.5;

// grid columns
$columns: one, two, three, four, five, six, seven, eight, nine, ten, eleven, twelve;

// A Base gray color where other gray tones are inhered from
$grayColor:#999;
$lighterGrayColor: #ccc;

// A base light gray color for surfaces
$lightGrayColor:#f1f1f1;
$globalHoverColor:#f8f8f8;
// subnav
$subnavBg: $lightGrayColor;

$smallFontSize:14px;
$smallFontSizeLineHeight:1.5;
$extraSmallFontSize:$smallFontSize;

$globalShortEaseTime: .2s;
$globalMediumEaseTime: .35s;
$globalLongEaseTime: .8s;
$globalMenuEasing:ease;

$h1FontSize: 20px;
$h2FontSize: 22px;
$h3FontSize: $h1FontSize - 3px;

$h1DesktopFontSize:25px;
$h1Color: $baseColor;
$headingMargin: 0 0 1rem 0;

$primaryColor:$brandPrimary ;
$secondaryColor:#e6007e;
$actionColor:$brandPrimary;
$alertColor: #d84c3d;

// breakpoints
$breakpointLarge: 1000px !default;
$breakpointInBetween: 900px !default;
$breakpointDesktop:768px !default;

// Box Shadows:
$globalBoxShadow: 0px 0px 3px rgba(#000,.7) !default;
$globalBorderColor:$lightGrayColor !default;

//forms
$formMargin:10px;
$formMarginDesktop: 10px;

$inputFontSize: 16px;

// buttons
$btnFontWeight: 500;

// tooltips
$tooltipFontWeight:400;

// panel
$panelBackground: $lightGrayColor;
$linkFontWeight: normal;

$topbarActionFontWeight:500;
$topbarNavActiveFontWeight: 500;
$subnavActiveFontWeight: 500;

$modalBoxShadow:none;
$modalBackground:transparent;

$backgroundDarkenerFadeOpacity: .9;
$backgroundDarkenerColor:#fff;