<div class="offers flex">
    <div class="offer">
        <h2><i class="icon-cog"></i>
            Full-Stack Development</h2>

        <p>I create high-performance and reliable software in Scala, Java, PHP and JavaScript.</p>
    </div>
    <div class="offer">
        <h2><i class="icon-sliders"></i>
            Consultancy</h2>

        <p>Need help preparing the next big thing? I'll bring the chain with the right tools to speed up your
            process. From Software-Architecture to Continues Delivery.</p>
    </div>
    <div class="offer">
        <h2><i class="icon-github-circled"></i> Open-Source</h2>

        <p>I love Open-Source and actively contribute to the community.</p>
    </div>
</div>
<div class="wrapper-center">
    <div class="feature-slim flex-center">
        <button data-modal="contact-modal" class="button outline"><span data-text="Hire me"
                                                                        class="animate">Hire me</span></button>
    </div>
</div>

<div class="modal center" id="contact-modal">
    <i data-close-modal="" class="modal-close icon-cancel-1 double-space"></i>
    
    <form class="wide">
        <fieldset>
            <div class="control-group">
                <div class="controls">
                    <input type="text" required placeholder="Your Name">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input type="email" required placeholder="Your E-Mail-Address">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <textarea required placeholder="What do you have in mind?"></textarea>
                </div>
            </div>
        </fieldset>
        <div class="form-actions plain">
            <button type="submit" class="button">get in touch</button>
        </div>
    </form>
</div>