<div class="offers flex">
    <div class="offer">
        <h2>Full-Stack Programming</h2>
        <p>I create high-performance and reliable software in Scala, Java, PHP and JavaScript.</p>
    </div>
    <div class="offer">
        <h2>Consulting</h2>
        <p>Need help preparing the next big thing? I'll bring the chain with the right tools to speed up your
            process. From Software-Architecture to Continues Delivery</p>
    </div>
    <div class="offer">
        <h2>Open-Source</h2>
        <p>I love Open-Source and actively contribute to the community.</p>
    </div>
</div>