<div class="second-column">
    <div class="page-content">
        <h4 class="bordered">BowlingX Newsletter</h4>

        <p class="fade-out">Enjoying my articles? Keep updated with my newsletter. I promise I will never send SPAM!</p>

        <form class="wide">
            <fieldset>
                <div class="control-group">
                    <div class="controls">
                        <div class="append-input">
                            <input aria-label="E-Mail-Address" placeholder="Your E-Mail-Address" required id="email" type="email"/>
                            <button type="submit" class="button small">subscribe</button>
                        </div>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</div>