{% include header.html %}
<div class="content-wrapper">
    <div id="Hero" class="hero">
        <div class="hero-content" id="HeroContent">
            <div class="animation-wrapper">
                <div id="Stage" class="EDGE-111619931">
                </div>
            </div>
            <h1>Hey, this is David. I'm a Full-Stack developer with passion for high-quality software.</h1>
            <div class="scroll-down">
                <i class="icon-angle-down icon"></i>
                <p class="small-font">please scroll down</p>
            </div>
        </div>
    </div>
    <div class="wrapper">
     {{ content }}
    </div>
</div>
<script type="text/javascript" charset="utf-8" src="//animate.adobe.com/runtime/6.0.0/edge.6.0.0.min.js"></script>
<script>
    AdobeEdge.loadComposition('edge/bowlingx_logoanimation', 'EDGE-111619931', {
        scaleToFit: "both",
        centerStage: "horizontal",
        minW: "0px",
        maxW: "undefined",
        width: "655px",
        height: "216px",
        bScaleToParent:true
    }, {"dom":{}}, {"style":{"${symbolSelector}":
    {"isStage":"true","rect":["undefined","undefined","1065px","276px"],"fill":["rgba(255,255,255,1)"]}},"dom":{}});
</script>
{% include footer.html %}
